<header>
    <h1>Contador de Uso</h1>
</header>
<div class="flex-container">

<div class="box-um">
    <form action="form"     method="POST">

        <div class="select is-small">
            <select name="impname" >
                <option>Selecione</option>
                <option  name="impname" > HP8610 - Financeiro </option>
                <option  name="impname">  HP8710 - Comercial  </option>
                <option  name="impname">  Expedição  </option>
            </select>
        </div>

        <div class="select is-small">
            <select name= "setor" >
                <option >Selecione</option>
                <option name="setor">Financeiro</option>
                <option name="setor">Comercial</option>
                <option name="setor">Expedição</option>
                <option name="setor">Seg. trabalho</option>
            </select>
        </div>

        <div >
            <p>Contaor antigo</p>
            <input class="input is-small" type="number" name="oldcont">
        </div class="contador">

        <div >
            <p> Contador Novo</p>
            <input class="input is-small" type="number" name="newcont">
        </div>
        <br>


        <button class="button is-info is-outlined">Calcular</button>
    </form>
</div>
<div class="box-dois">
   
 
   
   
    <form action="form" method="GET">

        <button class="button is-info -is-outlined">Buscar</button>



    </form>

   <table class="table is-narrow" >
        <thead class="tabela">
            <tr>
                <th>Impressora</th>
                <th>Setor</th>
                <th>Contador Antigo</th>
                <th>Novo Contardor</th>
                <th>Impressão do Mês</th>
            </tr>
        </thead>
        {{#each posts}}
            <tbody >
                <td >{{dataValues.NOME_IMP}}</td>
                <td >{{dataValues.SETOR}}</td>
                <td >{{dataValues.CONT_OLD}}</td>
                <td >{{dataValues.CONT_NEW}}</td>
                <td >{{dataValues.CONT_USO}}</td>
            </tbody>    
        {{/each}}
        <tfoot class="tabela">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tfoot>   
    
    </table>



</div>
    <script src="/public/Js/calculo.js" type="javascript/txt"></script>

</div>
<footer>Julio Lemos</footer>